<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name,class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :name, class:"form-control"%>
  </div>
  <div>
    <%= form.label :price, class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :price, class:"form-control" %>
  </div>
  <br>
  <div>
    <%= form.submit "click",class:"btn btn-primary" %>
  </div>
<% end %>
