<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <h3>Product List</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Descriptions</th>
            <th scope="col">Price</th>
            <th scope="col">Capacity</th>
            <th scope="col">Is_active</th>
            <th scope="col">Status</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.title %></td>
            <td><%= product.description %></td>
            <td><%= product.price %></td>
            <td><%= product.capacity %></td>
            <td><%= product.is_active %></td>
            <td><%= product.status %></td>
            <td><%= link_to 'Details' , product %>
            </td>
            <td><%= link_to "Edit", edit_query_product_path(product), class:"btn btn-primary" %></td>
            <td><%= link_to "Delete", query_product_path(product), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, class:"btn btn-danger" %></td>
          </tr>
        <%end%>
      </table>
      <%= link_to "Back", query_products_path, class:"btn btn-primary" %>
    </div>
  </body>
</html>
