<div class="login">
  <div class="container">
    <div class="form">
      <h1>Sign In</h1>
      <%= form_with url: sessions_path do |f| %>
        <%= f.text_field :email, :placeholder => "email" %><br><br>
        <%= f.password_field :password, :placeholder => "Password" %><br><br>
        <%= f.submit "Log In", class: "btn btn-primary" %>
      <% end %> 
      <%= link_to "Already Have Account", new_user_path %>
    </div>
  </div>
</div>
