<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <h3>User List</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Image</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <%@users.each do |user|%>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= image_tag(user.profile.url, alt: "Image", style: "width: 50px; height:55px; display:block") if user.profile? %></td>
            <td><%= link_to 'Details' , user %>
            </td>
            <td><%= link_to "Edit", edit_user_action_path(user), class:"btn btn-primary" %></td>
            <td><%= link_to "Delete", user_action_path(user), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      </table>
      <%= link_to "Add User", new_user_action_path, class:"btn btn-primary" %>
    </div>
  </body>
</html>
