<h1>Hello <%= @employee.first_name + " " + @employee.last_name %></h1>
<h3>Email: <%= @employee.email %></h3>
<h3>Age: <%= @employee.age %></h3>
<h3>Oreder: <%= @employee.no_of_order %></h3>
<h3>Full_time_available: <%= @employee.full_time_available %></h3>
<h3>Salary: <%= @employee.salary %></h3>
