<div class="container">
  <h3>Employee List</h3>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Mobile No</th>
        <th scope="col">Birthdate</th>
        <th scope="col">Hobbies</th>
        <th scope="col">Image</th>
        <th scope="col">Address</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <% @employees.each do |e|%>
      <tr>
        <td><%= e.employee_name %></td>
        <td><%= e.email %></td>
        <td><%= e.gender %></td>
        <td><%= e.mobile_number %></td>
        <td><%= e.birth_date %></td>
        <td><%= e.hobbies %>
          <td><%= image_tag(e.file.url, alt: 'Image', style: "width: 50px; height:55px; display:block") if e.file? %></td>
          <td><%= link_to 'Details' , e %></td>
          <td><%= link_to "Edit", edit_employee_action_path(e), class:"btn btn-primary" %></td>
          <td><%= link_to "Delete", employee_action_path(e), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "Add Employee", new_employee_action_path, class:"btn btn-primary" %>
    <%= link_to "Search", employee_search_path, class:"btn btn-primary" %>
  </div>
