<%= form_with model: @student do |form| %>
  <div>
    <%= form.label :first_name, class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :first_name, class:"form-control" %>
    <% @student.errors.messages_for(:first_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :last_name, class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :last_name, class:"form-control" %>
    <% @student.errors.messages_for(:last_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :department, class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :department, class:"form-control" %>
    <% @student.errors.messages_for(:department).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :birth_date, class:"col-sm-2 col-form-label" %><br>
    <%= form.date_field :birth_date%>
    <% @student.errors.messages_for(:birth_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.check_box :term_and_condition%>
    <%= form.label :term_and_condition, class:"col-sm-2 col-form-label" %><br>
    <% @student.errors.messages_for(:term_and_condition).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit "click",class:"btn btn-primary" %>
  </div>
<% end %>
