<%= form_with model: @faculty do |form| %>
  <div>
    <%= form.label :first_name, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :first_name, class:"form-control" %>
    <p class="text-danger"><%= @faculty.errors.messages_for(:first_name).first %></p>
  </div>
  <br>

  <div>
    <%= form.label :last_name, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :last_name, class:"form-control" %>
    <p class="text-danger"><%= @faculty.errors.messages_for(:last_name).first %></p>
  </div>
  <br>

  <div>
    <%= form.label :phone_no, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :phone_no, class:"form-control" %>
    <p class="text-danger"><%= @faculty.errors.messages_for(:phone_no).first %></p>
  </div>
  <br>

  <div>
    <%= form.label :email, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :email, class:"form-control" %>
    <p class="text-danger"><%= @faculty.errors.messages_for(:email).first %></p>
  </div>
  <br>

  <div>
    <%= form.label :birth_date, class:"col-sm-2 col-form-label" %>
    <%= form.date_field :birth_date%>
    <p class="text-danger"><%= @faculty.errors.messages_for(:birth_date).first %></p>
  </div>
  <br>

  <div>
    <%= form.label :designation, class:"col-sm-2 col-form-label" %>
    <%= form.text_field :designation, class:"form-control" %>
    <p class="text-danger"><%= @faculty.errors.messages_for(:designation).first %></p>
  </div>
  <br>
  
  <div>
    <%= form.submit "click",class:"btn btn-primary" %>
  </div>
<% end %>
