<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <h3>Author List</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Email</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <%@authors.each do |author|%>
          <tr>
            <td><%=author.last_name%></td>
            <td><%=author.first_name%></td>
            <td><%=author.dob%></td>
            <td><%=author.email%></td>
            <td><%= link_to 'Details' , author %>
            </td>
            <%# <button class="btn btn-primary">Button</button> %>
            <td><%= link_to "Edit", edit_author_path(author), class:"btn btn-primary"%></td>
            <td><%= link_to "Delete", author_path(author), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, class:"btn btn-danger" %></td>
          </tr>
        <%end%>
      </table>
      <%= link_to "Add Author", new_author_path, class:"btn btn-primary" %>
    </div>
  </body>
</html>
