<div>
  <nav class="navbar navbar-dark bg-primary">
    <%= link_to 'Add Event', new_event_path, class:"navbar-brand" %>
    <%= link_to 'Event List', events_path, class:"navbar-brand" %>
    <%= link_to 'Profile', sessions_profile_path, class:"navbar-brand" %>
    <%= link_to 'Your Event', sessions_path, class:"navbar-brand" %>
    <%= link_to "Logout", sessions_logout_path, class:"btn btn-dark" %>
  </nav>
</div>
