<h1>New Event</h1>
<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :event_date %><br>
    <%= form.date_field :event_date %>
  </div>
  <div>
    <%= form.label :Category %><br>
    <%= form.select(:category_id, @category_options) %>
  </div>
  <%= form.hidden_field :organizer_id, value: session[:user_id] %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
