<%= form_with model: @order do |form| %>
  <div>
    <%= form.label :quantity,class:"col-sm-2 col-form-label" %>
    <%= form.text_field :quantity , class:"form-control"%>
  </div>
  <div>
    <%= form.label :product,class:"col-sm-2 col-form-label" %>
    <%= form.text_field :product , class:"form-control"%>
  </div>
  <br>
  <%= form.label :status %>
  <%= form.select :status, Order.statuses.keys %>
  <br>
  <div>
    <%= form.label :customer,class:"col-sm-2 col-form-label" %>
    <%= form.text_field :customer , class:"form-control"%>
  </div>
  <div>
    <%= form.submit "click",class:"btn btn-primary" %>
  </div>
<%end%>
