<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <div>
        <%= form_with url: orders_path, method: :get do |form| %>
          <%= form.label :product_name, "Product Name" %>
          <%= form.text_field :product_name, class:"form-group col-md-1" %>
          <%= form.submit "Search", class:"btn btn-primary" %>
        <% end %><br>
        <%= form_with url: orders_path, method: :get do |form| %>
          <%= form.label :filter, "Order status" %>
          <%= form.collection_select :filter, Order.filter_options, :status, :status %>
          <%= form.submit "Filter", class:"btn btn-primary" %>
        <% end %>
        <%= form_with url: orders_path, method: :get do |form| %>
          <%= form.submit "All", class:"btn btn-primary" %>
        <% end %>
      </div>
      <h3>Order List</h3>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
            <th scope="col">Product</th>
            <th scope="col">Status</th>
            <th scope="col">Customer</th>
            <th scope="col">details</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.quantity %></td>
            <td><%= order.total_price %></td>
            <td><%= order.query_product.title %></td>
            <td><%= order.status %></td>
            <td><%= order.customer.first_name %></td>
            <td><%= link_to 'Details' , order %>
            </td>
            <td><%= link_to "Edit", edit_order_path(order), class:"btn btn-primary" %></td>
            <td><%= link_to "Delete", order_path(order), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      }, class:"btn btn-danger" %></td>
          </tr>
        <%end%>
      </table>
      <%= link_to "Add Order", new_order_path, class:"btn btn-primary" %>
    </table>
  </div>
</body>
</html>
