<%= form_with model: @book do |form| %>
  <div>
    <%= form.label :Name,class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :name , class:"form-control"%>
    <% @book.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :Price, class:"col-sm-2 col-form-label" %><br>
    <%= form.text_field :price, class:"form-control" %>
    <% @book.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div >
    <%= form.label :Author, class:"col-sm-2 col-form-label" %><br>
    <%= form.select(:author_id, @author_options) %>
  </div>
  <br>
  <div>
    <%= form.submit "click",class:"btn btn-primary" %>
  </div>
<%end%>
