<h1>Update Product</h1>

<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @product.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
    </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
    <% @product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>